<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Task Manager</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<header role="banner">
  <h1>HEADER</h1>
</header>

<%= yield %>

<footer role="contentinfo">
  <p>&copy; 2015 Footer Forever</p>
</footer>
</body>
</html>
